<%- include('includes/head') %>
<%- include('includes/nav') %>
    
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col">
      <h1 class="text-center mt-2">Agenda</h1>
      <p class="text-center lead">Seus contatos estao abaixo.</p>

     <%- include('includes/messages') %>


      <div class="responsive-table">
        <table class="table my-4">
          <tr>
            <td>Luis</td>
            <td>Santana</td>
            <td>987234</td>
            <td>jcsj@2010</td>
          </tr>
        </table>
      </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>
<%- include('includes/footer') %>


